#### Initial Set Up

In [1]:
# Import libraries
import os
import glob
import pandas as pd

# Remove dataFrame display size restrictions
#pd.set_option("display.max_rows", None, "display.max_columns", None)

# Create path
os.chdir("./Resources/real_estate")

In [2]:
#  Retrieve all csv files from folder 
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

# Combine all files
df = pd.concat([pd.read_csv(f) for f in all_filenames])

In [3]:
# Display original dimensions of dataframe pre-clean
orig_rows = len(df)
orig_columns = len(df. columns) 
print(f' Total Sales (rows) in The New York City Real Estate dataset Prior to Merge/Clean: {orig_rows}') 
print(f' Total fields (columns) in The New York City Real Estate dataset Prior to Merge/Clean: {orig_columns}')

 Total Sales (rows) in The New York City Real Estate dataset Prior to Merge/Clean: 31787
 Total fields (columns) in The New York City Real Estate dataset Prior to Merge/Clean: 45

#### Clean Up

In [4]:
# Display columns before transformation process
df.columns

Index(['Address', 'Building Name', 'Neighborhood', 'City',
       'Price (Last Known)', 'PPSF', 'R', 'Bd', 'Total Ba', 'MLS Ba',
       'Full Ba', 'HBa', 'Sq Ft', 'Monthly Fees', 'Monthly Fees & Taxes',
       'Taxes Per Mo.', 'MLS Property Type', 'MLS Property Subtype',
       'Compass Property Type', 'Status', 'DOM', 'Updated Date', 'Listed Date',
       'Listed Price', 'Last Asking', 'Contract Date', 'Sold Price',
       'Closed Price Verification', 'Sold Date', 'Open House',
       'Open House Type', 'ZIP', 'Latitude', 'Longitude', 'Building Size',
       'Lot Size', 'Outdoor Space', 'Year Built', 'Service Level',
       'Building Units', 'Notes', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 32',
       'Unnamed: 33'],
      dtype='object')

In [5]:
# Drop irrelevant columns
df = df.loc[:, ['Address', 'Neighborhood', 'City',
       'Bd','MLS Ba','Compass Property Type','DOM', 'Listed Date',
       'Listed Price', 'Sold Price','Sold Date', 'ZIP', 'Latitude', 'Longitude', 'Year Built']]  

clean_columns01 = len(df.columns)

print(f' Total fields (columns) in The New York City Real Estate dataset after dropping columns: {clean_columns01}')

 Total fields (columns) in The New York City Real Estate dataset after dropping columns: 15

In [6]:
# Rename columns
df.rename(columns={'Address': 'address', 'Building Name': 'building_name', 'Neighborhood': 'neighborhood', 
                              'City': 'borough', 'Bd': 'bed', 'MLS Ba': 'bath',
                              'Compass Property Type': 'property_type', 
                              'DOM': 'days_on_market', 'Listed Date': 'listed_date',
                              'Listed Price': 'listed_price', 'Sold Price': 'sold_price', 'Sold Date': 'sold_date',
                              'Latitude': 'lat', 'Longitude': 'long',
                              'ZIP': 'zipcode','Year Built': 'year_built'}, inplace=True)

df.index.name = 'index'

,address,neighborhood,borough,bed,bath,property_type,days_on_market,listed_date,listed_price,sold_price,sold_date,zipcode,lat,long,year_built
index,,,,,,,,,,,,,,,
0,9 Joline Ln,Tottenville,Staten Island,4,3.00,Single Family,111,08/27/2020,"$1,099,000","$1,040,000",02/12/2021,10307.0,40.5071,-74.2443,2006.0
1,22 Buffington Ave,Annadale,Staten Island,4,3.50,Multi Family,40,09/24/2020,"$969,000","$940,000",02/12/2021,10312.0,40.5555,-74.1827,1986.0
2,46 Purdy Pl,Prince's Bay,Staten Island,3,2.25,Single Family,374,12/03/2019,"$859,900","$750,000",02/12/2021,10309.0,40.5266,-74.2238,NaN
3,419 Winchester Ave,Eltingville,Staten Island,6,2.75,Multi Family,65,09/16/2020,"$869,000","$870,000",02/12/2021,10312.0,40.5555,-74.1827,1960.0
4,163 Driggs St,Great Kills,Staten Island,3,1.50,Single Family,14,10/13/2020,"$529,900","$529,900",02/12/2021,10308.0,40.5535,-74.1504,1930.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11086,"50 Brighton 1st Rd, Unit 8B",Brighton Beach,Brooklyn,NaN,NaN,Co-op,NaN,NaN,NaN,"$435,000",12/15/2020,11235.0,40.5860,-73.9419,NaN
11087,2831 Brighton 4th St,Brighton Beach,Brooklyn,8,NaN,Multi Family/Townhouse,NaN,NaN,NaN,"$800,000",12/22/2020,11235.0,40.5860,-73.9419,1940.0
11088,2743 Brighton 7th St.,Brighton Beach,Brooklyn,8,4.00,Multi Family/Townhouse,NaN,NaN,NaN,"$940,000",12/09/2020,11235.0,40.5860,-73.9419,1930.0
11089,"105 Oceana Dr E, Unit 5H",Brighton Beach,Brooklyn,2,2.00,Condo,32,09/30/2020,"$975,000","$850,000",12/14/2020,11235.0,40.5860,-73.9419,2002.0
11090,"75 Oceana Dr E, Unit 4G",Brighton Beach,Brooklyn,NaN,NaN,Condo,NaN,NaN,NaN,"$795,000",12/23/2020,11235.0,40.5860,-73.9419,2002.0

In [7]:
# Drop all rows where zipcode equals NaN
df = df.dropna(subset=['zipcode'])

rows_after_zipcode = len(df)
print(f'After removing all rows with a NaN value under zipcode column, there were {rows_after_zipcode} rows (sold listings) remaining')

After removing all rows with a NaN value under zipcode column, there were 22722 rows (sold listings) remaining

In [8]:
# Drop all rows where sold price equals NaN
df = df.dropna(subset=['sold_price'])

rows_after_soldprice = len(df)
print(f'After removing all rows with a NaN value under sold price column, there were {rows_after_soldprice} rows (sold listings) remaining')

After removing all rows with a NaN value under sold price column, there were 22158 rows (sold listings) remaining

In [9]:
# In bed column, replace 'Studio' + Alcove with '0'
df['bed'] = df['bed'].str.replace('Studio', '0')
df['bed'] = df['bed'].str.replace('Alcove', '0')

In [10]:
# Change all string column values to lower case
df = df.applymap(lambda s:s.lower() if type(s) == str else s)

In [11]:
# Remove decimal and zero from string 
df['zipcode'] = df['zipcode'].astype(str).replace('\.0', '', regex=True)

df['year_built'] = df['year_built'].astype(str).replace('\.0', '', regex=True)

In [12]:
# Check Datatypes
df.dtypes

address            object
neighborhood       object
borough            object
bed                object
bath              float64
property_type      object
days_on_market     object
listed_date        object
listed_price       object
sold_price         object
sold_date          object
zipcode            object
lat               float64
long              float64
year_built         object
dtype: object

In [13]:
# Convert listed date, sold date and year built to datetime
df.year_built = pd.to_datetime(df.year_built, format='%Y')
df.sold_date = pd.to_datetime(df.year_built, format='%m/%d/%Y')
df.listed_date = pd.to_datetime(df.listed_date, format='%m/%d/%Y')

# Convert days on market columns to floats
df['days_on_market'] = df['days_on_market'].str.replace(',', '') # Removes commas from any properties on the market for 1000+ days
df['days_on_market'] = pd.to_numeric(df['days_on_market'])

# Convert bed column to float
df['bed'] = df.bed.astype(float)

# Remove commas and dollar signs from sold price listed price and convert to float
df['sold_price'] = df['sold_price'].str.replace('$', '')
df['sold_price'] = df['sold_price'].str.replace(',', '')
df['sold_price'] = pd.to_numeric(df['sold_price'])

df['listed_price'] = df['listed_price'].str.replace('$', '')
df['listed_price'] = df['listed_price'].str.replace(',', '')
df['listed_price'] = pd.to_numeric(df['listed_price'])

In [14]:
df.dtypes

address                   object
neighborhood              object
borough                   object
bed                      float64
bath                     float64
property_type             object
days_on_market           float64
listed_date       datetime64[ns]
listed_price             float64
sold_price                 int64
sold_date         datetime64[ns]
zipcode                   object
lat                      float64
long                     float64
year_built        datetime64[ns]
dtype: object

In [15]:
# Update incorrect borough names
#df['borough'].value_counts()

df['borough'] = df['borough'].str.replace('the bronx', 'bronx')
df['borough'] = df['borough'].str.replace('richmond', 'staten island')
df['borough'] = df['borough'].str.replace('s. ozone park', 'queens')
df['borough'] = df['borough'].str.replace('kew gardens', 'queens')

In [16]:
df['borough'].value_counts()

brooklyn            11026
staten island        5655
bronx                3895
manhattan            1567
out of area town       12
queens                  3
Name: borough, dtype: int64

In [18]:
# Export Clean DataFrame to CSV
df.to_csv("Desktop/data_clean.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop/data_clean.csv'